<h1> checkout </h2>
  <form action="/checkout" method="POST">
    <br>
    <label>item</label>
    <input type="text" name="item">
    <br>
    <input type = 'submit' name= 'submit' value='submit'>
  </form>
